<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>
        Create new User
    </h1>
    <div class="name-input-block">
        <p>First name:</p><input type="text" name="firstName" class="text-input">
    </div>
    <div class="name-input-block">
        <p>Last name:</p><input type="text" name="lastName" class="text-input">
    </div>
    <div class="name-input-block">
        <p>E-mail:</p><input type="text" name="email" class="text-input">
    </div>
    <div class="name-input-block">
        <p>Password:</p><input type="text" name="password" class="text-input">
    </div>
    <div class="name-input-block">
        <input type="submit" value="Register" class="submit-btn">
        <input type="reset" value="Clear" class="submit-btn">
    </div>
</body>
</html>