<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Task</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>
        Create new Task
    </h1>
    <form class="main-form" th:action = "@{/tasks/{todo_id}/create/taskCreate(todo_id = ${todo_id})}"
          th:object="${task}"	method ="post">
        <div class="name-input-block">
            <p>Name:</p><input th:field = "*{name}" type="text" name="taskName" class="text-input">
        </div>
        <div class="name-input-block">
            <p>Priority:</p>
            <select th:field = "*{priority}" name="priority" class="selection">
                <option value="LOW" selected>Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>
        </div>
        <div class="name-input-block">
            <p>Status:</p>
            <select th:field = "*{state}" name="status" class="selection">
                <option th:each = "i : ${states}" th:value = "${i.id}" th:text = "${i.name}"></option>
            </select>
        </div>
    <div class="name-input-block">
        <input type="submit" value="Register" class="submit-btn">
        <input type="reset" value="Clear" class="submit-btn">
    </div>
    </form>
</body>
</html>