<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>Create New User</h1>
    <form th:action = "@{/users/createUser}" th:object = "${user}" method ="post">
    	<p>FirstName: <input type = "text" th:field = "*{firstName}"></p>
    	<p>LastName: <input type = "text" th:field = "*{lastName}"></p>
    	<p>Email: <input type = "text" th:field = "*{email}"></p>
    	<p>Password: <input type = "password" th:field = "*{password}"></p>
    	<p>Role: <select th:field = "*{role}">
    				<option value = "">---</option>
    				<option th:each = "i : ${roles}" th:value = "${i.id}" th:text = "${i.name}"></option>
    			</select>
    	</p>
    	<p><input type = "submit" value = "Create"/> <input type = "reset" value = "Clear"/></p>
    </form>
</body>
</html>