<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>
        List of Users
    </h1>
    <a th:href = "@{/users/create}">Create new User</a>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Id</th>
                <th>Full name</th>
                <th>E-mail</th>
                <th colspan="2">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "user, state: ${users}">
                <td th:text = "${state.count}"></td>
                <td th:text = "${user.id}"></td>
                <td><a th:href="@{/todos/all/users/} + ${user.id}" th:text="${user.lastName} +' ' + ${user.firstName}"></a></td>
                <td th:text = "${user.email}"></td>
                <td><a th:href="@{/users/update/{user_id}(user_id = ${user.id})}">Edit</a></td>
                <td><a th:href="@{/users/delete/{user_id}(user_id = ${user.id})}">Remove</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>