<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks of task List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            tasks List
        </a>
    </header>
    <h1 th:text = "${title}">

    </h1>
        <a class="button-a" th:href = "@{/tasks/{todo_id}/create/task(todo_id = ${todo_id})}"><button>Create new Task</button></a>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Name</th>
            <th>Priority</th>
            <th>State</th>
            <th colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "task, state : ${tasks}">
            <td th:text = "${state.count}"></td>
            <td th:text = "${task.id}"></td>
            <td th:text = "${task.name}"></td>
            <td th:text = "${task.state.name}"></td>
            <td><a th:href ="@{/tasks/{todo_id}/update/task/{task_id}(todo_id = ${todo_id},task_id = ${task.id})}">Edit</a></td>
            <td><a th:href="@{/tasks/{todo_id}/delete/task/{task_id}(todo_id = ${todo_id},task_id = ${task.id})}">Remove</a></td>
        </tr>
        </tbody>
    </table>

    <form class="table-form" >
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <select th:field = "${possible_collaborators}" class="selection" name="collabolatorAdd">
                            <option  th:each = "i : ${possible_collaborators}" th:value = "${i.id}" th:text = "${i.firstName + ' '+ i.lastName}" selected>Role1</option>
                        </select>
                    </th>
                    <th>
                        <a class="button-a" th:href="@{/tasks/all/todos/{todo_id}/addCollaborator/{collaborator_id}(collaborator_id = ${}, todo_id = ${todo_id})}">
                            <button>
                                Add
                            </button>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "collaborator: ${already_collaborators}">
                    <td th:text = "${collaborator.id}"></td>
                    <td th:text = "${collaborator.firstName + ' '+ collaborator.lastName}"></td>
                    <td><a th:href="@{/tasks/all/todos/{todo_id}/deleteCollaborator/{collaborator_id}(collaborator_id = ${collaborator.id}, todo_id = ${todo_id})}">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>