<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks of task List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            tasks List
        </a>
    </header>
    <h1 th:text = ${title}>
        
    </h1>
<!--    th:href = ""-->
    <a  class="button-a"><button>Create new Task</button></a>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Name</th>
            <th>Priority</th>
            <th>State</th>
            <th colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "task, state : ${tasks}">
            <td th:text = "${state.count}"></td>
            <td th:text = "${task.id}"></td>
            <td th:text = "${task.name}"></td>
            <td th:text = "${task.state.name}"></td>
            <td><a href="">Edit</a></td>
            <td><a href="">Remove</a></td>
        </tr>
        </tbody>
    </table>

</body>
</html>