<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Tasks of ToDo List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>
        All Tasks From User's ToDo #1
    </h1>
    <button>
        Create new Task
    </button>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Name</th>
            <th>Priority</th>
            <th>State</th>
            <th colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td><a href="">Task 1</a></td>
            <td>Low</td>
            <td>New</td>
            <td><a href="">Edit</a></td>
            <td><a href="">Remove</a></td>
        </tr>
        </tbody>
    </table>

</body>
</html>