<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>
        Update User
    </h1>
    <form th:action = "@{/users/updateUser}" th:object = "${user}" method ="post">
    	<p>Id: <input type = "text" th:field = "*{id}" readonly></p>
    	<p>FirstName: <input type = "text" th:field = "*{firstName}"></p>
    	<p>LastName: <input type = "text" th:field = "*{lastName}"></p>
    	<p>Email: <input type = "text" th:field = "*{email}" readonly></p>
    	<p>Old password: <input type = "password" th:value = "*{password}" readonly></p>
    	<p>New password: <input type = "password" th:field = "*{password}"></p>
    	<p>Role: <select th:field = "*{role}">
    				<option th:each = "i : ${roles}" th:value = "${i.id}" th:text = "${i.name}"></option>
    			</select>
    	</p>
    	<p><input type = "submit" value = "Update"/></p>
    </form>
</body>
</html>


