<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update existing To-Do</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="/home">
            TODOs List
        </a>
    </header>
    <h1>
        Update Todo
    </h1>
    <form class="main-form" method ="post">
    <div class="name-input-block">
        <p>ID:</p><input type="text" name="todoID" class="text-input" value="id123" readonly>
    </div>
    <div class="name-input-block">
        <p>Title:</p><input type="text" name="title" class="text-input"  value="title123">
    </div>
    <div class="name-input-block">
        <input type="submit" value="Register" class="submit-btn">
        <input type="reset" value="Clear" class="submit-btn">
    </div>
    </form>
</body>
</html>