# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JvMrthn\hibernate-1-sprint-13_team-1-7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
