*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 15%;
}
header{
    padding: 3% 5%;
    margin-bottom: 3%;
    background-color: #e6e6e6;
    border-radius: 25px;
}
header a{
    outline: none;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
h1{
    font-size: 40px;
    align-self: center;
    margin: 1%;
}
button, .submit-btn{
    outline: none;
    background-color:#0066ff;
    border-radius:15px;
    border: none;
    cursor:pointer;
    color:#ffffff;
    font-family: "Roboto";
    font-size:20px;
    padding:20px 40px;
    text-decoration:none;
    text-shadow:1px 1px 5px #2f6627;
    margin: 2% 5% 5% 5%;
    align-self: flex-end;
}
button:hover, .submit-btn:hover{
    background-color: black;
}
table{
    text-align: center;
    border-collapse: collapse;
    margin: 0 5%;
}
table tr{
    border-bottom: 3px solid #e6e6e6;
}
table td, table th{
    padding: 1.4%;
}
table a{
    outline: none;
    text-decoration: none;
    color: #0066ff;
}

.name-input-block{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.name-input-block *{
    margin: 3% 0;
}
.name-input-block p{
    text-align: end;
    font-weight: 600;
    min-width: 100px;
    padding-right: 2%;
}
.text-input{
    width: 50%;
    padding: 5px 7px;
    font-size: 16px;
}
.selection{
    width: 54%;
    padding: 5px 7px;
    font-size: 16px;
}
.submit-btn{
    min-width: 55px;
    font-size: 15px;
    padding: 15px 10%;
    margin: 3%;
    align-self: center;
}
